# Django
django==3.2.9  # pyup: < 3.1  # https://www.djangoproject.com/
django-model-utils # https://github.com/jazzband/django-model-utils
djangorestframework  # https://github.com/encode/django-rest-framework
jsonfield==3.1.0 # https://github.com/rpkilby/jsonfield

# Dev
Werkzeug # https://github.com/pallets/werkzeug
django-debug-toolbar  # https://github.com/jazzband/django-debug-toolbar
django-extensions  # https://github.com/django-extensions/django-extensions